.home-container {
  padding: 2rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.home-container h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.home-container p {
  color: white;
  font-size: 1.5rem;
}